<nb-layout>
  <nb-layout-header fixed>
    <div fxLayoutAlign="space-between" fxFlex="grow">
      <div>
        <button nbButton outline status="primary" title="Show/hide menu" (click)="sidebar.toggle()">
          <nb-icon icon="menu-outline"></nb-icon>
        </button>
      </div>
      <div>
        <button nbButton outline status="warning" title="Logout" (click)="logout()">
          <nb-icon icon="log-out-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar #sidebar>
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
